<html>
<head>
  <title>Mirai Zura</title>
  <link rel="stylesheet" href="styles/index.css" />
</head>
<body>

</script>
<h1>Sin nada que hacer</h1>

<script src="scripts/script.js">  

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="centerIzquierda">
    <input class = "btnSonidoHanamaru" onclick="btnSonidoHanamaru()" type="image" id="btnSonido" src="/images/kunikida_hanamaru.jpg">
</div>

<div class="centerDerecha">
  <input class = "btnSonidoYoshiko" onclick="btnSonidoYoshiko()" type="image" id="btnSonido" src="/images/tsushima_yoshiko.png">
</div>

<div class="articuloForm">
	<input type="text" id="idArticulo" name="idArticulo" placeholder="Escanee el codigo prro" value="69"><br><br>
	<input type="text" id="nombreArticulo" name="nombreArticulo" placeholder="Nombre del Articulo" value="Takis Fuego 80gr"><br><br>
	<input type="text" id="costoArticulo" name="costoArticulo" placeholder="¿Cuanto le costo comprarlo?" value="5"><br><br>
	<input type="text" id="cantidadArticulo" name="cantidadArticulo" placeholder="¿Cuantos articulos son?" value="3"><br><br>
	<input type="text" id="precioArticulo" name="precioArticulo" placeholder="¿A cuanto lo va a vender?" value="9"><br><br>
	<select name="familiaArticulo">
		<option value="1">Frutas y Verduras</option>
		<option value="2">Lacteos</option>
		<option value="3">Frituras</option>
		<option value="4">Enlatados</option>
		<option value="5">Carnes y Embutidos</option>		
	</select><br><br>
	<input class="btnAgregarArticuloAlInventario" onclick="btnAgregarArticuloAlInventario()" type="button" value="Agregar Articulo" >
</div>

<div id ="carrusel">
</div>

</body>
</html>
